In [1]:
hi <- 3+5

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [23]:
url <- "https://raw.githubusercontent.com/Stev-hu/Dsci-100-group-project/main/atp2017-2019.csv"
download.file(url, "tennis_data.csv")

In [79]:
tennis_data <- read_csv(file = "data/tennis_data.csv")
set.seed(8888)
tennis_height_age<- select(tennis_data, winner_ht, loser_ht, winner_age, loser_age)
winner_data <- tennis_height_age |> select(winner_ht, winner_age)
winner_data$outcome <- c(1:1)
loser_data <- tennis_height_age |> select(loser_ht, loser_age)
loser_data$outcome <- c(0:0)
names(winner_data) <- c("ht", "age", "outcome")
names(loser_data) <- c("ht", "age", "outcome")
data <- bind_rows(winner_data, loser_data) |> na.omit()
data$outcome <- factor(data$outcome)
data

New names:
• `` -> `...1`
Rows: 6866 Columns: 50
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (16): tourney_id, tourney_name, surface, tourney_level, winner_seed, win...
dbl (34): ...1, draw_size, tourney_date, match_num, winner_id, winner_ht, wi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     ht  age      outcome
1    178 29.00479 1
2    178 29.00479 1
3    188 33.70568 1
4    188 31.88227 1
5    178 29.00479 1
6    188 33.70568 1
7    196 28.01095 1
8    188 31.88227 1
9    188 27.62765 1
10   178 29.00479 1
11   188 33.70568 1
12   190 31.63039 1
13   196 28.01095 1
14   193 23.67967 1
15   188 31.88227 1
16   188 27.62765 1
17   183 29.54689 1
18   180 26.37098 1
19   183 30.71321 1
20   188 31.61123 1
21   188 31.61123 1
22   185 26.85284 1
23   183 30.71321 1
24   180 28.50376 1
25   188 27.78919 1
26   188 31.61123 1
27   185 26.85284 1
28   183 30.71321 1
29   175 28.52841 1
30   180 28.50376 1
⋮    ⋮   ⋮        ⋮
8789 170 25.20465 0
8790 185 28.58590 0
8791 198 20.52841 0
8792 188 26.30253 0
8793 198 30.06434 0
8794 188 29.78508 0
8795 185 24.15606 0
8796 183 29.54415 0
8797 188 26.45859 0
8798 190 30.56810 0
8799 190 35.77276 0
8800 180 31.82752 0
8801 198 29.10062 0
8802 185 31.40862 0
8803 206 32.51198 0
8804 185 31.44695 0
8805 198 29.12526 0
8806 198 29.12526 0
8807 198 20.56674 0
8808 163 26.93498 0
8809 185 24.19439 0
8810 185 24.19439 0
8811 188 26.34086 0
8812 188 26.34086 0
8813 185 36.26557 0
8814 163 26.93498 0
8815 185 23.73990 0
8816 178 33.68925 0
8817 188 32.59411 0
8818 178 33.68925 0